@model EmployeeViewModel

<div class="container">
    @if (TempData["Done"] != null)
    {
        <div class="alert alert-success" role="alert"> @TempData["Done"]</div>
    }

    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="col-sm-12">
                    <h5>AGREGAR / EDITAR EMPLEADO</h5>
                </div>
                <form method="post" asp-action="@ViewBag.Action" class="row g-3">
                    <div asp-validation-summary="All"></div>

                    <div class="form-group col-md-2">
                        <label asp-for="Id">ID</label>
                        <input type="text" class="form-control mb-3" asp-for="Id" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="FullName">Nombre</label>
                        <input type="text" class="form-control mb-3" asp-for="FullName"
                            placeholder="Ingresa el nombre del empledo">
                        <span asp-validation-for="FullName" class=" alert-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="PayrollId">Nómina</label>
                        <select class="form-select mb-3" asp-for="PayrollId"
                            asp-items="@(new SelectList(ViewBag.Payrolls, "Id", "Name"))">
                        </select>
                        <span asp-validation-for="PayrollId" class=" alert-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="PositionId">Puesto</label>
                        <select class="form-select mb-3" asp-for="PositionId"
                            asp-items="@(new SelectList(ViewBag.Positions, "Id", "Name"))">
                            <option value="">-- Selecciona un puesto --</option>
                        </select>
                        <span asp-validation-for="PositionId" class=" alert-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="SalaryPerHour">Salario x hora</label>
                        <input type="text" class="form-control mb-3" asp-for="SalaryPerHour"
                            placeholder="Ingresa el salario x hora">
                        <span asp-validation-for="SalaryPerHour" class=" alert-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="HoursPerDay">Horas x día</label>
                        <input type="text" class="form-control mb-3" asp-for="HoursPerDay"
                            placeholder="Ingresa las horas a laborar x día">
                        <span asp-validation-for="HoursPerDay" class=" alert-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="DaysPerWeek">Días x semana</label>
                        <input type="text" class="form-control mb-3" asp-for="DaysPerWeek"
                            placeholder="Ingresa las dias a laborar x semana">
                        <span asp-validation-for="DaysPerWeek" class=" alert-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <div class="form-group">
                            <label asp-for="StatusId">Activo</label>
                            <br>
                            <input type="checkbox" asp-for="StatusId" class="checkbox">
                            <span asp-validation-for="StatusId" class=" alert-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-lg btn-primary"><i
                                class="bi bi-file-plus-fill"></i>Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Salario x hora</th>
                    <th scope="col">Horas x día</th>
                    <th scope="col">Días x semana</th>
                    <th scope="col">Estatus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in (IEnumerable<EmployeeViewModel>)ViewBag.Employees)
                {
                    <tr>
                        <td width="5%">
                            @item.Id
                        </td>
                        <td width="30%">
                            @item.FullName
                        </td>
                        <td width="5%">
                            @item.SalaryPerHour
                        </td>
                        <td width="5%">
                            @item.HoursPerDay
                        </td>
                        <td width="5%">
                            @item.DaysPerWeek
                        </td>
                        <td width="5%">
                            @item.Status
                        </td>
                        <td>
                            <div role="group" class="w-60 btn-group">
                                <a asp-controller="Employee" asp-action="SearchEmployee" asp-route-id="@item.Id"
                                class=" btn btn-sm btn-success"><i class="bi bi-pencil-square"></i>Seleccionar</a>&nbsp;
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</div>