@model TransactionViewModel

<div class="container">
    @if (TempData["Done"] != null)
    {
        <div class="alert alert-success" role="alert"> @TempData["Done"]</div>
    }

    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="col-sm-12">
                    <h5>CAPTURA MOVIMIENTO - BONO X ENTREGA</h5>
                    <form method="post" asp-action="@ViewBag.Action" class="row g-3">
                        <div asp-validation-summary="All"></div>

                        <div class="form-group col-md-3">
                            <label asp-for="PayrollId">Nómina</label>
                            <select class="form-select mb-3" asp-for="PayrollId"
                                asp-items="@(new SelectList(ViewBag.Payrolls, "Id", "Name"))">
                            </select>
                            <span asp-validation-for="PayrollId" class=" alert-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="PeriodId">Período</label>
                            <select class="form-select mb-3" asp-for="PeriodId"
                                asp-items="@(new SelectList(ViewBag.Periods, "Id", "Name"))">
                            </select>
                            <span asp-validation-for="PeriodId" class=" alert-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="EmployeesSelect">Empleados</label>
                            <select id="EmployeesSelect" class="form-select mb-3"
                                asp-items="@(new SelectList(ViewBag.Employees, "Id", "FullName"))"
                                onchange="setValues(event)" data-employeeslist="@ViewBag.EmployeesStr">
                                <option value="">-- Selecciona un empleado --</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="EmployeeId">ID</label>
                            <input type="text" class="form-control mb-3" asp-for="EmployeeId" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="EmployeeFullName">Nombre</label>
                            <input type="text" class="form-control mb-3" asp-for="EmployeeFullName" readonly>
                            <span asp-validation-for="EmployeeId" class=" alert-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="Amount">Pago x hora</label>
                            <input type="text" class="form-control mb-3" asp-for="Amount"
                                placeholder="Ingresa la monto x hora">
                            <span asp-validation-for="Amount" class=" alert-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="Times">Cantidad de entregas</label>
                            <input type="text" class="form-control mb-3" asp-for="Times"
                                placeholder="Ingresa la cantidad de entregas">
                            <span asp-validation-for="Times" class=" alert-danger"></span>
                        </div>

                         <input type="hidden" asp-for="ConceptId">
                         <input type="hidden" asp-for="Sequence">

                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-lg btn-primary"><i
                                    class="bi bi-file-plus-fill"></i>Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">ID Concepto</th>
                        <th scope="col">Concepto</th>
                        <th scope="col">Entregas</th>
                        <th scope="col">Pago x hora</th>
                        <th scope="col">Secuencia</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in (IEnumerable<TransactionViewModel>)ViewBag.Transactions)
                    {
                        <tr>
                            <td width="10%">
                                @item.EmployeeId
                            </td>
                            <td width="30%">
                                @item.EmployeeFullName
                            </td>
                            <td width="5%">
                                @item.ConceptId
                            </td>
                            <td width="5%">
                                @item.Concept
                            </td>
                            <td width="5%">
                                @item.Times
                            </td>
                            <td width="5%">
                                @item.Amount
                            </td>
                            <td width="5%">
                                @item.Sequence
                            </td>
                            <td>
                                <div role="group" class="w-60 btn-group">
                                    <a asp-controller="Transaction" asp-action="SearchTransaction"
                                    asp-route-payrollId="@item.PayrollId" asp-route-periodId="@item.PeriodId"
                                    asp-route-conceptId="@item.ConceptId" asp-route-employeeId="@item.EmployeeId"
                                    asp-route-sequence="@item.Sequence"
                                    class=" btn btn-sm btn-success"><i
                                        class="bi bi-pencil-square"></i>Seleccionar</a>&nbsp;
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function setValues(event) {        
        var employeeslist = JSON.parse(event.target.dataset.employeeslist);
        var employee = employeeslist.find(x => x.Id == String(event.target.value));

        document.querySelector("#EmployeeId").value = employee.Id;
        document.querySelector("#EmployeeFullName").value = employee.FullName;
        document.querySelector("#Amount").value = "5.00";
        document.querySelector("#Times").value = 0;
        document.querySelector("#Sequence").value = 0;
    }
</script>